.sweet-alert .sa-icon.sa-success .sa-placeholder{
    -webkit-border-radius: 40px !important;
    border-radius: 40px !important;
    border-radius: 50% !important;
}
@media (min-width: 768px){
    .form-horizontal .control-label {
        padding-top: 0;
    }
}

.shadow{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.mt-radio > span, .mt-checkbox > span{
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.objective_drag,.objective_drag:hover{
	background-color: #67809F;
	border-bottom: 0;
	padding: 8px 10px;
	margin-bottom: 0;
	color: #fff;
	height:auto !important;
	border:none !important;
	
	
}
	
.remove_objective{
	margin-top:-83px;
	margin-right:5px;
	float:right;
	z-index:100000;
	background: transparent !important;
	background-color: transparent !important;
	border: 1px solid #acb9ca;
	color: #bbc7d4;
}
.remove_objective:hover{
	color: #fff;
	border-color:#fff;
}

.objective input{
	height:50px;
	
}
	
.dd-item > button{
	color:#fff;
	padding-top:5px;
	font-size:15px;
	font-weight:normal;
}
.participants label {
	display:block;
}
.remove_student_multiple{
	
}
.mt-element-list .list-simple.mt-list-container ul{
	background:#fff;
}
.mt-element-list .list-simple.mt-list-head{
    padding: 3px;
}
#status-fitler{
    margin-left: 30px;
    float: right;
}

.portlet.light{
    padding: 0 !important;
    margin-bottom: 20px;
}

.question_body{
    padding: 20px;
    background: #fff;
}
.question,.answer{
    margin-bottom: 20px;
}

.remove_question,.remove_answer{
	margin-top:-55px;
	margin-right:-20px;
	float:right;
	z-index:100000;
	
}
.answers_links{
    margin-top:-55px;
	margin-right:24px;
	float:right;
	z-index:100000;
    
}
.page-header.navbar.navbar-fixed-top{
	z-index:6 !important;
}

.errorValidation{
	border:1px solid #e7505a;
}
.error_message{
	color:#e7505a;
	display:none;
	font-weight:bold;
	padding-left:5px;
	margin-top:5px;
	font-size:14px;
}


.clockContainer{
    padding-right: 20px;
    display: none ;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.clockContainer i{
    font-size: 18px;
    padding-right: 4px;
}

.hide{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.capitalize{
    text-transform: capitalize !important;
}